@model MovieData.Models.User

@{
    ViewData["Title"] = "Forgot";
}

<h1>Change</h1>

<h4>User Password</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Forgot">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EmailID" class="control-label"></label>
                <input asp-for="EmailID" class="form-control" />
                <span asp-validation-for="EmailID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="old_pwd" class="control-label"></label>
                <input asp-for="old_pwd" class="form-control" />
                <span asp-validation-for="old_pwd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="new_pwd" class="control-label"></label>
                <input asp-for="new_pwd" class="form-control" />
                <span asp-validation-for="new_pwd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

