@{
    ViewData["Title"] = "Home Page";
}
    <link rel="stylesheet" href="~/css/site.css" />

<div class="text-center"  id="myid">
    <h1 class="display-4">Welcome</h1>
    <h6 class="text-danger">@TempData["SessionError"]</h6>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
